# OpenAPI 3.1 specification for the AtlaSent authorization API (v1).
#
# Status: **draft, derived from the existing JSON Schemas in
# `contract/schemas/`**. Everything here MUST stay in sync with those
# schemas — the drift detector and vector validator in
# `contract/tools/` keep the SDKs honest against the schemas; this file
# lifts those same schemas into a full OpenAPI document so downstream
# consumers (pydantic codegen, `@atlasent/types`, Postman / Insomnia /
# Redoc / Stoplight collections, non-SDK adopters) can consume a single
# canonical artifact.
#
# If this file and `schemas/*.json` ever disagree, **the JSON Schemas
# win**. The SDK drift detector introspects from the schemas, not from
# this OpenAPI document.
#
# Scope (v1.0):
# - POST /v1-evaluate
# - POST /v1-verify-permit
#
# Out of scope in v1 (tracked in docs/V1_PLAN.md, require separate
# server-side specs before they can be added here):
# - Streaming evaluate
# - session, audit/events, audit/exports, audit/verify, approvals,
#   overrides, permits/consume, permits/revoke
# - Offline audit-bundle format

openapi: 3.1.0

info:
  title: AtlaSent Authorization API
  version: "1.0.0"
  summary: Execution-time authorization for AI agents.
  description: |
    Every call goes through two endpoints:

    - `POST /v1-evaluate` — policy decision. A clean DENY is HTTP 200
      with `permitted: false`, **not** a 4xx.
    - `POST /v1-verify-permit` — confirm a previously-issued permit
      end-to-end. `verified: false` is similarly an HTTP 200.

    SDKs are **fail-closed**: any failure to *confirm* authorization
    (network, server error, malformed body, rate limit, invalid key)
    throws / raises; a clean policy DENY is returned as data.

    See `contract/README.md` for the five invariants every SDK must
    honour, and `contract/adopt/EXPECTED_ENVELOPES.md` for a
    plain-English reference.
  contact:
    name: AtlaSent Systems Inc.
    url: https://atlasent.io
    email: sdk@atlasent.io
  license:
    name: Apache-2.0 (Python SDK) / Apache-2.0 (TypeScript SDK)
    url: https://github.com/AtlaSent-Systems-Inc/atlasent-sdk

servers:
  - url: https://api.atlasent.io
    description: Production.

tags:
  - name: authorization
    description: Policy evaluation and permit verification.

security:
  - bearerAuth: []

paths:
  /v1-evaluate:
    post:
      tags: [authorization]
      operationId: evaluate
      summary: Evaluate whether an action is authorized.
      description: |
        A clean DENY is **not** an HTTP error — it is an HTTP 200
        response with `decision: 'deny'`. Fail-closed semantics in
        SDKs apply only to failures to *confirm* authorization
        (network, timeout, malformed body, 4xx, 5xx).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvaluateRequest"
            examples:
              clinical_modify_allow:
                summary: "Clinical-data agent modifying a record under GxP"
                value:
                  action_type: "modify_patient_record"
                  actor_id: "clinical-data-agent"
                  context:
                    user: "dr_smith"
                    environment: "production"
                    patient_id: "PT-2024-001"
              minimal:
                summary: "Minimal valid request"
                value:
                  action_type: "read_data"
                  actor_id: "agent-1"
      responses:
        "200":
          description: |
            Policy decision. Branch on `decision` ('allow' | 'deny' | 'hold' | 'escalate').
            This is the only successful status; all non-2xx responses
            are error conditions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluateResponse"
              examples:
                allow:
                  summary: "ALLOW"
                  value:
                    decision: "allow"
                    permit_token: "pt_01J8XKQ2"
                    request_id: "req_01J8XKQ2"
                    expires_at: "2026-04-17T11:00:00Z"
                deny:
                  summary: "DENY (HTTP 200, decision='deny')"
                  value:
                    decision: "deny"
                    request_id: "req_01J8XKQ3"
                    denial:
                      reason: "Missing change_reason for critical field"
                      code: "POLICY_DENY"
        "401":
          $ref: "#/components/responses/InvalidApiKey"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/RateLimited"
        "5XX":
          $ref: "#/components/responses/ServerError"

  /v1-verify-permit:
    post:
      tags: [authorization]
      operationId: verifyPermit
      summary: Verify a previously-issued permit end-to-end.
      description: |
        Used as a second-factor gate (e.g. in a CI deploy pipeline
        just before side-effects run). `valid: false` is NOT an
        HTTP error — it is an HTTP 200 with `valid: false, outcome: 'deny'`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyPermitRequest"
            examples:
              minimal:
                summary: "Verify by permit_token alone"
                value:
                  permit_token: "pt_01J8XKQ2"
              cross_checked:
                summary: "Verify with action_type / actor_id re-stated for cross-check"
                value:
                  permit_token: "pt_01J8XKQ2"
                  action_type: "modify_patient_record"
                  actor_id: "clinical-data-agent"
      responses:
        "200":
          description: |
            Verification outcome. `valid` and `outcome` are required.
            `verify_error_code` is populated when `outcome='deny'`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyPermitResponse"
              examples:
                valid:
                  value:
                    valid: true
                    outcome: "allow"
                revoked:
                  summary: "HTTP 200 even though the permit is no longer valid"
                  value:
                    valid: false
                    outcome: "deny"
                    verify_error_code: "PERMIT_REVOKED"
                    reason: "Permit was explicitly revoked"
        "401":
          $ref: "#/components/responses/InvalidApiKey"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/RateLimited"
        "5XX":
          $ref: "#/components/responses/ServerError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        `Authorization: Bearer <api_key>`. The key is sent as a header only;
        it is no longer echoed in the request body.

  # Schemas are mirrored from contract/schemas/*.json. Keep in sync —
  # the JSON Schemas are the source of truth for the SDK drift detector.
  schemas:
    EvaluateRequest:
      title: EvaluateRequest
      description: "Wire payload sent to POST /v1-evaluate. The legacy {action, agent, api_key} shape is no longer canonical — SDKs may accept it with a deprecation warning but MUST always serialize to this canonical shape."
      type: object
      additionalProperties: true
      required: [action_type, actor_id]
      properties:
        action_type:
          type: string
          minLength: 1
          maxLength: 256
          description: "Action being authorized (e.g. 'modify_patient_record'). Stable identifier."
        actor_id:
          type: string
          minLength: 1
          maxLength: 256
          description: "Identifier of the calling actor / agent (e.g. 'clinical-data-agent')."
        context:
          type: object
          description: "Arbitrary policy context (environment, approvals, change_window, resource IDs). Values MUST be JSON-serializable. Defaults to {} if omitted."
          additionalProperties: true
        request_id:
          type: string
          description: "Idempotency key. Repeat calls with the same request_id replay the original decision."
        shadow:
          type: boolean
          description: "When true, evaluation runs but no permit is issued (mode='shadow'). Used for policy testing."
        explain:
          type: boolean
          description: "When true, the response includes the rule-engine trace under `decisionObject.explanation`."
        traceparent:
          type: string
          description: "W3C Trace Context fallback when the SDK can't add the header through a signing layer."
        resource_id:
          type: string
          maxLength: 512
          description: "Resource the action targets (e.g. 'release:abc123'). Bound into the canonical action hash that approval artifacts cover, so an approval issued for one resource cannot authorize another."
        amount:
          type: number
          description: "Optional monetary or quantity bound. Bound into the canonical action hash."
        approval:
          type: object
          additionalProperties: false
          description: "Optional signed approval. When the action requires human approval (rule-driven OR action-type prefix per requiresHumanApproval), /v1-evaluate verifies this artifact before issuing a permit; failure denies. Schema for the artifact lives in approval-artifact.schema.json."
          properties:
            approval_id:
              type: string
              description: "Reference to an artifact stored server-side. Either this or `artifact` must be present."
            artifact:
              description: "Inline approval artifact body. Mirrors approval-artifact.schema.json."
              type: object
              additionalProperties: true
        require_approval:
          type: boolean
          description: "Caller assertion that this action requires verified human approval, even when the action_type heuristic does not match. Echoed onto /v1-verify-permit so the consumer can hard-deny when the permit's persisted `approval` block is missing."
        operation_intent_id:
          type: string
          minLength: 1
          maxLength: 256
          description: "2026-08-13: optional caller-generated identifier for one intended organizational effect (recommended: ULID or UUIDv4 — never a content hash). Generated once by the trusted orchestrator before the first evaluate() call for that effect and presented unchanged on every re-evaluation/retry of the SAME intent (a crash-retry re-evaluates for real and gets a new decision_id, but must reuse the same operation_intent_id). Bound into the issued permit's signed claims; /v1-verify-permit cross-checks a presented value against the bound one and denies PERMIT_BINDING_MISMATCH on disagreement. Used by the consequential-operation substrate as part of operation identity (organization + provider/destination + protected action + operation_intent_id) so two independent requests with identical payloads never collide, while a genuine retry of the same intent does. Distinct from `request_id` (a single-call replay/idempotency key) and from decision_id (audit lineage only, never operation identity)."
        actor_identity:
          type: object
          description: "2026-10-10 (atlasent-api#3915): optional top-level actor_identity.v1 assertion for the calling actor, forwarded unchanged by SDKs (never minted or inspected client-side). Required by /v1-evaluate for the mandatory change-control action types (production.deploy, infrastructure.change, production.rollback, secret.configuration.change): without one the runtime denies ACTOR_UNVERIFIED before any policy runs. Never nested under `context`."
        environment:
          type: string
          description: "Deployment environment where the action executes (e.g. 'production', 'staging'). Bound into the permit and used for enforcement-posture lookups."
        resource:
          type: object
          description: "Structured resource descriptor. Mutually exclusive with `resource_id` (prefer this form for new callers)."
          required: [type]
          additionalProperties: false
          properties:
            type:
              type: string
              description: "Resource class (e.g. 'database', 'deployment', 'file')."
            id:
              type: string
              description: "Instance identifier within the resource class."
            attributes:
              type: object
              additionalProperties: true
              description: "Arbitrary metadata about the resource."
        current_state:
          type: object
          description: "Snapshot of the resource before the proposed action executes. Enables policy rules that reason about state transitions."
          required: [description]
          additionalProperties: false
          properties:
            description:
              type: string
            attributes:
              type: object
              additionalProperties: true
        proposed_state:
          type: object
          description: "Desired state of the resource after the action executes."
          required: [description]
          additionalProperties: false
          properties:
            description:
              type: string
            attributes:
              type: object
              additionalProperties: true
        execution_binding:
          type: object
          description: "Identifies the execution surface where the action will run (CI/CD adapter, DB driver, etc.). Bound into the permit for verifier-side binding checks."
          required: [kind]
          additionalProperties: false
          properties:
            kind:
              type: string
              description: "Execution surface type (e.g. 'github_actions', 'supabase_migration', 'k8s_job')."
            adapter_version:
              type: string
            resource_id:
              type: string
            enforcement_point:
              type: string
        execution_payload_hash:
          type: string
          pattern: "^[0-9a-f]{64}$"
          description: "SHA-256 digest of the exact payload this action will execute, as BARE 64-character lowercase hex. Bound into the signed permit's `execution_hash_expected`, which is what makes PAYLOAD_MISMATCH a real check at verify time. TWO PROPERTIES ARE LOAD-BEARING, and a violation of either is DROPPED, not rejected, on the ordinary-action path \u2014 allow, permit, 200, no error anywhere: (1) BARE hex \u2014 a `sha256:` prefix fails the runtime's /^[0-9a-f]{64}$/i test; (2) TOP LEVEL \u2014 the runtime destructures it from the body ALONGSIDE `context`, never from within it, so a copy nested under `context` is never a binding. Omitted, the permit is bound to the runtime's own hash of the whole request body instead, which a caller's payload digest can never equal \u2014 so re-presenting one at verify yields a deterministic mismatch on every call, and presenting nothing on a non-production permit passes with no payload check at all. The four mandatory-change-control action types and any class declaring `material_execution_fields` REJECT a caller digest with a deny instead of dropping it. As of atlasent-api#3355 the response carries `execution_payload_hash_accepted` so a caller can tell. See atlasent-api's CLAUDE.md, \"A caller-supplied `execution_payload_hash` is DROPPED, not rejected\"."
        desired_state:
          type: object
          description: "The desired end-state the actor wants the resource to reach."
          required: [description]
          additionalProperties: false
          properties:
            description:
              type: string
            attributes:
              type: object
              additionalProperties: true
            fingerprint:
              type: string
              description: "Deterministic hash of the desired state (e.g. expected schema fingerprint after migration)."
        completion_proofs:
          type: array
          nullable: true
          description: "Multi-actor quorum completion proofs. Each entry proves a prior actor consumed a permit for a specific action_type. Verified via permit_uses + execution_evaluations gates; fail-closed."
          items:
            $ref: "#/components/schemas/CompletionProof"
        state_snapshot:
          type: object
          description: "State snapshot provided at evaluation time. Required when the action class has requires_state_snapshot=true; omitting it produces a SNAPSHOT_REQUIRED deny."
          additionalProperties: true
          properties:
            source:
              type: string
              description: "Source system identifier (e.g. 'github-actions', 'k8s-cluster')."
            source_kind:
              type: string
              enum: [trusted, untrusted]
              description: "Classification of the snapshot source."
            complete:
              type: boolean
              description: "Whether the snapshot is complete."
            payload:
              type: object
              additionalProperties: true
              description: "Arbitrary snapshot payload."
        evaluation_profile:
          type: string
          enum: [basic, standard, advanced, enterprise]
          description: "Controls which algorithm layers the server runs. Pass 'basic' to skip snapshot enforcement for pilot integrations. Unknown values fall back to 'standard' server-side."
        override:
          type: object
          description: "Emergency override block. Only evaluated when evaluation_profile is 'advanced' or 'enterprise'. The authority_actor_id must hold override:execute scope."
          required: [version, authority_actor_id, reason]
          additionalProperties: false
          properties:
            version:
              type: string
              description: "Must be 'override.v1'."
            authority_actor_id:
              type: string
              description: "Actor ID of the operator authorising this override. Must differ from actor_id."
            reason:
              type: string
              description: "Mandatory human-readable justification."
            time_bound_seconds:
              type: integer
              description: "Override validity window in seconds. Capped at 3600."
            incident_id:
              type: string
              description: "Incident or change ticket ID."
            accepted_blocks:
              type: array
              items:
                type: string
              description: "Explicit list of snapshot hard-block codes this override accepts."
    CompletionProof:
      title: CompletionProof
      description: "Proof that a specific actor consumed a specific permit for a specific action_type. Used to satisfy multi-actor quorum dependencies."
      type: object
      additionalProperties: false
      required: [action_type, actor_id, permit_id]
      properties:
        action_type:
          type: string
          minLength: 1
          description: "action_type (slug) completed by the prior actor."
        actor_id:
          type: string
          minLength: 1
          description: "The actor who completed the action."
        permit_id:
          type: string
          minLength: 1
          description: "Permit token (or hash) issued when the action was permitted."

    EvaluateResponse:
      title: EvaluateResponse
      description: "Wire response returned by POST /v1-evaluate. A non-allow decision is NOT an HTTP error; it is a 200 response with decision != 'allow'."
      type: object
      additionalProperties: true
      required: [decision]
      properties:
        decision:
          type: string
          enum: [allow, deny, hold, escalate]
          description: "Canonical four-value decision. SDKs MUST handle all four."
        permit_token:
          type: string
          minLength: 1
          description: "Opaque permit identifier. Present iff decision == 'allow'. Passed back to POST /v1-verify-permit as `permit_token`."
        request_id:
          type: string
          description: "Server-side request identifier. Used as audit deep-link and idempotency key for replays."
        expires_at:
          type: string
          description: "ISO 8601 timestamp at which the permit expires. Default TTL: 1 hour."
        denial:
          type: object
          description: "Populated on non-allow decisions. Contains the policy-engine reason and a stable code. NOTE: handler.ts currently emits the deny metadata as top-level deny_code / deny_reason (below); SDKs read both shapes. This nested form is retained for forward/legacy compatibility."
          properties:
            reason:
              type: string
            code:
              type: string
          additionalProperties: true
        deny_code:
          type: string
          description: "Top-level stable machine code naming WHY a non-allow decision was reached (e.g. 'SNAPSHOT_REQUIRED', 'OUTSIDE_CHANGE_WINDOW'). This is what handler.ts actually emits today. Pin routing/alerting to this code, not to deny_reason. Absent on allow."
        deny_reason:
          type: string
          description: "Top-level human-readable explanation accompanying deny_code. May change without notice — do not parse it. Absent on allow."
        mode:
          type: string
          enum: [live, shadow]
          description: "Evaluation mode. 'shadow' indicates no permit was minted."
        cache_hit:
          type: boolean
        evaluation_ms:
          type: number
        decisionObject:
          type: object
          description: "Canonical Decision Object (CDO) — full structured decision record. Optional."
          additionalProperties: true
        outcome_kind:
          type: string
          enum: [final, requires_confirmation, requires_override]
        intent_match:
          type: string
          enum: [match, mismatch, unknown]
        audit_entry_hash:
          type: string
        fingerprint:
          type: string
        risk_score:
          type: number
        risk_envelope:
          type: object
          description: "Risk envelope summary. Present on responses from engine version wire-v1@1.0.0+. Enforces most-restrictive-wins: can raise severity but structurally cannot soften a deny."
          additionalProperties: false
          required: [weighted_score, engine_decision, envelope_decision, promoted, hard_blocks]
          properties:
            weighted_score:
              type: number
              description: "Weighted risk score in [0, 1]. Score ≥ 0.70 triggers a hold."
            engine_decision:
              type: string
              enum: [allow, deny, hold, escalate]
              description: "Policy engine decision before envelope promotion."
            envelope_decision:
              type: string
              enum: [allow, deny, hold, escalate]
              description: "Decision resolved by the risk envelope."
            promoted:
              type: boolean
              description: "true when envelope_decision is more restrictive than engine_decision."
            hard_blocks:
              type: array
              items:
                type: string
              description: "Deny codes that unconditionally block regardless of score."
            factors:
              type: array
              description: "Per-factor breakdown. Present only when explain=true was passed."
              items:
                type: object
                additionalProperties: false
                required: [factor, value, weight, reason]
                properties:
                  factor:
                    type: string
                  value:
                    type: number
                    description: "Factor score in [0, 1]."
                  weight:
                    type: number
                    description: "Configured weight for this factor."
                  reason:
                    type: string
                    description: "Human-readable explanation for the score."
        risk_class:
          type: string
          enum: [critical, high, medium, low]
          description: "Resolved risk class from the evaluation. Present when the risk envelope assigns a class."
        authority_basis:
          type: object
          description: "Why this permit was issued — the authority kind and a reference to the authorizing entity."
          required: [kind]
          additionalProperties: false
          properties:
            kind:
              type: string
              enum: [policy, approval, emergency, maintenance_window, delegation, quorum]
              description: "Authority class that authorized the action."
            reference:
              type: string
              description: "ID of the authorizing entity (policy id, approval id, override id, escalation id, etc.)."
            granted_by:
              type: string
              description: "Actor id who explicitly granted the authority."
            rationale:
              type: string
              description: "Human-readable explanation for the authority grant."
            expires_at:
              type: string
              description: "ISO 8601 timestamp at which the authority itself expires (if bounded)."
        escalation_id:
          type: string
          description: "Present iff decision == 'hold'. ID of the HITL escalation auto-created by the control plane. Poll GET /v1/escalations/{id} for resolution."
        human_approval_required:
          type: boolean
          description: "Two-stage authorization lifecycle (atlasent-api #1617). Whether this evaluation requires a verified human approval, independent of whether that requirement is currently satisfied — see `human_approval_status`. Absent on responses from a runtime predating this mechanism; SDKs MUST treat absence as unknown, never as false."
        human_approval_status:
          type: string
          enum: [not_required, pending, satisfied, rejected, expired, revoked]
          description: "Two-stage authorization lifecycle (atlasent-api #1617). Current satisfaction state of the human-approval requirement, distinct from the requirement itself (`human_approval_required`). `rejected` / `expired` / `revoked` are never collapsed into `pending` — each names a distinct reason authority is not presently available. Absent on responses from a runtime predating this mechanism."
        permit:
          type: object
          additionalProperties: true
          description: "Wire-format PermitV2 body. Returned alongside `permit_token` when the legacy v1 surface is upgraded to V2. The `approval` sub-block is the cryptographic linkage to the approval artifact verified at evaluate time."
          properties:
            approval:
              type: object
              additionalProperties: false
              required: [approval_id, artifact_hash, reviewer_id, issuer_id, kid]
              description: "Permit ↔ approval-artifact binding. Present iff /v1-evaluate verified an approval_artifact.v1 for this issuance. /v1-verify-permit re-surfaces this on consume so executors can prove which signed approval authorized the action."
              properties:
                approval_id:
                  type: string
                  description: "approval_artifact.approval_id from the verified artifact."
                artifact_hash:
                  type: string
                  pattern: "^[0-9a-f]{64}$"
                  description: "SHA-256 over the artifact's canonical signing payload (i.e. the artifact with the `signature` field stripped). Lets a stored permit row prove which artifact authorized it without retaining the full artifact body."
                reviewer_id:
                  type: string
                  description: "reviewer.principal_id from the verified artifact."
                issuer_id:
                  type: string
                  description: "issuer.issuer_id from the verified artifact."
                kid:
                  type: string
                  description: "issuer.kid used to verify the signature (key id, for rotation)."
    VerifyPermitRequest:
      title: VerifyPermitRequest
      description: "Wire payload sent to POST /v1-verify-permit. The legacy {decision_id, action, agent, api_key} shape is no longer canonical — SDKs may accept it with a deprecation warning but MUST always serialize to this canonical shape."
      type: object
      additionalProperties: true
      required: [permit_token]
      properties:
        permit_token:
          type: string
          minLength: 1
          description: "The permit_token returned by a prior /v1-evaluate call."
        action_type:
          type: string
          description: "Optional cross-check — re-state the action_type. ACTION_TYPE_MISMATCH if it disagrees."
        actor_id:
          type: string
          description: "Optional cross-check — re-state the actor_id. ACTOR_MISMATCH if it disagrees."
        require_approval:
          type: boolean
          description: "Caller assertion that this consume must produce a permit row with a populated approval binding. When true and the row carries no binding, the verifier returns APPROVAL_LINKAGE_MISSING (valid=false, consumed=true). Use this when calling on behalf of an action whose human-approval requirement isn't covered by the action_type-prefix heuristic on the server."
        operation_intent_id:
          type: string
          minLength: 1
          maxLength: 256
          description: "2026-08-13: optional cross-check — re-present the operation_intent_id supplied at evaluate time. When the permit carries a bound operation_intent_id and the presented value disagrees (or is omitted where the binding requires it), the verifier denies PERMIT_BINDING_MISMATCH — the same frozen verify_error_code already used for a target_id disagreement, not a new code."
        actor_identity:
          type: object
          description: "2026-10-10 (atlasent-api#3915): optional actor_identity.v1 assertion for the PERMIT's actor, forwarded unchanged. Required when the action class's server-owned execution_principal_binding is `verified_actor` (ACTOR_IDENTITY_REQUIRED when omitted, ACTOR_IDENTITY_INVALID when it does not verify against the permit's actor, action type, tenant and environment). Ignored in every other mode, so presenting one is always safe. The caller cannot choose or downgrade the mode."

    VerifyPermitResponse:
      title: VerifyPermitResponse
      description: "Wire response returned by POST /v1-verify-permit. valid=false is NOT an HTTP error."
      type: object
      additionalProperties: true
      required: [valid, outcome]
      properties:
        valid:
          type: boolean
          description: "true iff the permit is still valid, un-expired, un-revoked, and un-consumed."
        outcome:
          type: string
          enum: [allow, deny]
          description: "Server-side verification outcome. 'allow' iff valid=true."
        verify_error_code:
          type: string
          enum:
            - PERMIT_EXPIRED
            - PERMIT_NOT_FOUND
            - PERMIT_NOT_ALLOWED
            - PERMIT_REVOKED
            - PERMIT_ALREADY_USED
            - ACTOR_MISMATCH
            - ACTION_TYPE_MISMATCH
            - MISSING_PERMIT
            - UNAUTHORIZED
            - INVALID_API_KEY
            - INSUFFICIENT_SCOPE
            - RATE_LIMITED
            - INTERNAL_ERROR
          description: "Stable code populated when outcome='deny'. SDKs map these onto a higher-level envelope; unknown codes MUST fail-closed."
        reason:
          type: string
          description: "Human-readable explanation. Safe to surface to operators; not a stable identifier."
        decision:
          type: string
          description: "Echo of the decision the permit's evaluation produced. Always 'allow' on outcome='allow'."
        consumed:
          type: boolean
          description: "True iff the atomic verify-and-consume burned the permit row. APPROVAL_LINKAGE_MISSING returns valid=false BUT consumed=true — the permit cannot be reused; do not retry."
        expires_at:
          type: [string, "null"]
          format: date-time
          description: "ISO-8601 expiration timestamp of the permit. null when the server does not surface expiry (pre-rollout deployments)."
        approval:
          oneOf:
            - type: "null"
            - type: object
              additionalProperties: false
              required: [approval_id, artifact_hash, reviewer_id, issuer_id, kid]
              properties:
                approval_id:
                  type: string
                artifact_hash:
                  type: string
                  pattern: "^[0-9a-f]{64}$"
                reviewer_id:
                  type: string
                issuer_id:
                  type: string
                kid:
                  type: string
          description: "Permit ↔ approval-artifact binding persisted at issuance. NULL when the permit was minted without an approval requirement. Mirrors PermitV2.approval; surfaced here so executors can prove which signed approval authorized this consume."

    ErrorResponse:
      title: ErrorResponse
      description: "Shape of the body returned on non-2xx HTTP responses. SDKs surface `message` (preferred) or `reason` to callers."
      type: object
      additionalProperties: true
      properties:
        message:
          type: string
          description: "Preferred human-readable error string."
        reason:
          type: string
          description: "Fallback human-readable error string when message is not present."
        code:
          type: string
          description: "Optional machine-readable code (e.g. 'invalid_api_key', 'rate_limited')."
        request_id:
          type: string
          description: "Optional echo of the X-Request-ID header."

  headers:
    # Servers SHOULD echo the caller's X-Request-ID on every response
    # for log correlation; SDKs don't rely on it but humans reading
    # logs do.
    X-Request-ID:
      description: "Echo of the client-supplied correlation id."
      schema:
        type: string
    Retry-After:
      description: |
        Present on 429 responses. SDKs parse both numeric delta-seconds
        AND HTTP-date form (RFC 9110 §10.2.3).
      schema:
        type: string

  responses:
    InvalidApiKey:
      description: "HTTP 401 — SDKs surface as `code: invalid_api_key`."
      headers:
        X-Request-ID:
          $ref: "#/components/headers/X-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            message: "Invalid API key"
    Forbidden:
      description: "HTTP 403 — SDKs surface as `code: forbidden`."
      headers:
        X-Request-ID:
          $ref: "#/components/headers/X-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            message: "scope mismatch"
    BadRequest:
      description: |
        HTTP 4xx other than 401 / 403 / 429 (typically 422 for schema
        violations). SDKs surface as `code: bad_request`, passing the
        server's `message` or `reason` through.
      headers:
        X-Request-ID:
          $ref: "#/components/headers/X-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            message: "bad field: agent"
    RateLimited:
      description: |
        HTTP 429 — SDKs surface as `code: rate_limited` and parse
        `Retry-After` into `retryAfterMs` (TS) / `retry_after`
        (Python). Both delta-seconds (`"30"`) and HTTP-date forms
        (`"Wed, 21 Oct 2026 07:28:00 GMT"`) are accepted.
      headers:
        Retry-After:
          $ref: "#/components/headers/Retry-After"
        X-Request-ID:
          $ref: "#/components/headers/X-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            message: "slow down"
    ServerError:
      description: "HTTP 5xx — SDKs surface as `code: server_error`. Retried with exponential backoff up to `max_retries` times."
      headers:
        X-Request-ID:
          $ref: "#/components/headers/X-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            message: "internal server error"
